.container{
  display:flex;
  flex-direction:column;
  margin:20px 20px;
  justify-content: center;
  align-items: center;

  button{
    width:25%;
    padding:10px;
    font-weight:bold;
    background:var(--pink);
    border-radius:5px;
    margin:12px 0 84px;
    border:none;
    cursor:pointer;
    font-size:18px;
    
    color:#fff;
    transition: filter 0.3s;

    display:flex;
    align-items: center;
    justify-content: center;
    gap:18px;
  }
  button:hover{
    filter:brightness(0.8);
  }
}

.container input{
    width:50%;
   padding:24px;
   background:var(--white);
   border-radius:5px;
   border:1px solid var(--green);
   font-size:16px;
}
.containerCard{
    display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
    
   width:100%;
   margin-top: 84px;
}


